.contact {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
  
    .contact-title {
      margin-bottom: 20px;
      text-align: center;
    }
  
    .contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .MuiTextField-root {
      margin-bottom: 15px;
    }
  }
  