.footer {
    padding: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
  
    .footer-link {
      margin: 0 10px;
      color: #fff;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .footer-copy {
      margin-top: 10px;
      font-size: 0.8rem;
    }
  }
  