.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 100vh;
    color: #fff;
    padding: 0%;
    background: url('../assets/background.jpg') no-repeat center center;

  
    .home-title {
      margin-bottom: 20px;
      font-size: 4.5rem;
      margin-top: 2rem;
    }
  
    .home-subtitle {
      margin-bottom: 20px;
      font-size: 2rem;
    }
  
    .home-button {
      font-size: 1.2rem;
      margin-top: 15rem;
    }
  }
  