.home {
  height: 100vh; /* S'assure que la hauteur couvre la totalité de la fenêtre */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/background.jpg'); /* Chemin vers l'image de fond */
  background-size: cover; /* L'image couvre tout l'espace disponible */
  background-position: center; /* Centre l'image dans le viewport */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
  color: #fff; /* Assurez-vous que le texte soit visible sur l'image de fond */

  .home-title {
    margin-bottom: 20px;
  }

  .home-subtitle {
    margin-bottom: 40px;
  }

  .home-button {
    padding: 10px 20px;
  }
}
