.navigation-menu {
  background-color: #333;
  padding: 1px;
  text-align: center;
  display: flex;  
  justify-content: space-around; 
  background-color: #333; 
  .MuiButton-root {
    color: white;
    font-size: 18px;
  }

  .menu-horizontal {
    display: flex;
    justify-content: center; 
    background-color: #555;
    width: 70%;
    padding: 5px 0;
  }

  .MuiMenuItem-root {
    margin: 10px;
    transition: transform 0.3s ease-in-out; 
    color: white; 
    padding: 5px ; 
    cursor: pointer;
    
    &:hover {
      transform: scale(1.1); 
      background-color: transparent;
    }

    .MuiListItemText-root {
      text-align: center;
      font-size:2rem;
      color: white;
    }
  }

  .MuiMenu-paper {
    background-color: #555;
    width: calc(100%); 
    margin: 0 auto;
  }
}



