.navigation-menu {
  background-color: #333;
  padding: 5px;
  text-align: center;
  display: flex;  
  justify-content: space-around; // Distribue uniformément les items
  background-color: #333; // Exemple de couleur de fond de la navbar

  .MuiButton-root {
    color: white;
    font-size: 18px;
  }

  .menu-horizontal {
    display: flex;
    justify-content: center; 
    background-color: #555;
    width: 70%;
    padding: 5px 0;
  }

  .MuiMenuItem-root {
    margin: 0 15px;
    transition: transform 0.3s ease-in-out; /* Ajout de l'effet de zoom */
    color: white; // Couleur du texte
    padding: 10px 15px; // Espacement interne de chaque item
    cursor: pointer;
    
    &:hover {
      transform: scale(1.1); /* Zoom au survol */
      background-color: transparent; /* Suppression du background au survol */
      background-color: #555; 
    }

    .MuiListItemText-root {
      text-align: center;
      color: white;
    }
  }

  .MuiMenu-paper {
    background-color: #555;
    width: calc(100%); 
    margin: 0 auto;
  }
}



